/* -- Module: Content and Image */

.module-content-and-image {

    &__text {
        padding: $padding_content;
    }

    &__image {
        padding: 35% $padding_content 0;
        background-size: cover;
        background-position: center center;

        @media screen and (max-width: 991px) {
            padding-top: 70%;
        }
    }
}
