/* Banner */

.banner {
    position: relative;
    
    &__slide {
        position: relative;
    }

    &__background {
        width: 100%;
        padding-bottom: 50%;
        background-position: center center;
        background-size: cover;

        @include media-breakpoint-down(md) {
            padding-bottom: 75%;
        }

        @include media-breakpoint-down(sm) {
            padding-bottom: 90%;
        }

        > .container {
            position: relative;
        }
    }

    &__content {
        position: absolute;
        padding: $padding_content;
    }

    &__heading {
        margin-top: 0;
    }


    // Navigation buttons for the slider
    .tns-nav {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        z-index: 9;

        > button {
            margin: 6px;
        }
    }

}
