/* Header */

.header {
    // This prevents the Bootstrap .container class from centering the content, and will make
    // it fluid instead, forcing the logo and nav icon to the left and right edges of the screen
    @include media-breakpoint-down(md) {
        max-width: none;
    }

    &__content {
        padding: 2rem $padding_content;
    }
}
