/* Modules */

.module {
    margin-top: 4rem;
    margin-bottom: 4rem;

    & > .row > * > h1:first-child,
    & > .row > * > h2:first-child,
    & > .row > * > h3:first-child {
        margin-top: 0;
        /* 
            This looks fancier than it is. It's just a trick to make the first heading in every module content block
            not have any margin on the top of it. Otherwise, it messes up the spacing.
        */
    }

}