

.nav {

    @include media-breakpoint-down(md) {
        position: fixed;
        width: 90%;
        height: 100vh;
        max-width: 400px;
        top: 0;
        right: 0;
        z-index: 9;
        overflow: hidden;
    }
    
    &__list { 
        padding: 0;
        list-style: none;
        margin-right: -1rem;

        @include media-breakpoint-down(md) {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: -100%;
            background-color: #fff;
            margin-right: 0;
            visibility: hidden;
            transform: translateX(0%);
    
            transition: transform 450ms ease-in-out, visibility 0ms linear 450ms;

            .nav--open & {
                display: block;
                visibility: visible;
                transform: translateX(-100%);
        
                transition: transform 450ms ease-in-out, visibility 0ms linear 0ms;
            }
        }
    }

    &__item {
        display: inline-block;

        @include media-breakpoint-down(md) {
            display: block;
        }
    }

    &__link {
        display: block;
        padding: 1rem 1rem;
        font-size: 16px;
        text-transform: uppercase;

        @include media-breakpoint-down(lg) {
            padding: 1rem 0.9rem;
            font-size: 15px;
        }
    }

    &__trigger {
        display: none;
        cursor: pointer;
        z-index: 99;
    
        @include media-breakpoint-down(md) {
            display: block;
        }
    }

}
