/* Typography */


.heading1 {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 500;
    color: $color3;
    
    font-size: 41px;
}
  
.heading2 {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 300;
    color: $color3;
    
    font-size: 38px;
}

@media screen and (max-width: 600px) {
    .heading1 {
        font-size: 32px;
    }   
    .heading2 {
        font-size: 28px;
    }
}
  
p {
    /* NOTE: The font family for general text has been applied to the 'body' element, that way all text will pick it up as the default style */
    font-size: 16px;
}
  
a {
    font-weight: 700;
    text-decoration: none;
    color: #464646;
    
    font-size: 22px;
}
a:hover {
    color: #00B0B2;
}