/* This is the main file */

/* 
    This is where your styles go. These would be a LOT easier to manage if you can keep them in separate files - 
    but you would need to use a compiler for that, and it's probably out of scope for this project. 
*/

/* Global Styles */

body {
    margin: 0;
    font-family: muli, sans-serif;
    font-weight: 400;
    color: #464646;
}


/* Typography */


.heading1 {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 500;
    color: #1F5D6C;
    
    font-size: 41px;
}
  
.heading2 {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 300;
    color: #1F5D6C;
    
    font-size: 38px;
}

@media screen and (max-width: 600px) {
    .heading1 {
        font-size: 32px;
    }   
    .heading2 {
        font-size: 28px;
    }
}
  
p {
    /* NOTE: The font family for general text has been applied to the 'body' element, that way all text will pick it up as the default style */
    font-size: 16px;
}
  
a {
    font-weight: 700;
    text-decoration: none;
    color: #464646;
    
    font-size: 22px;
}
a:hover {
    color: #00B0B2;
}


/* Header */
.header {
    padding: 2rem;
}

.logo {
}
.logo__img {
    /* This is just an example */
}

.nav {
    
}
.nav__list {
    padding: 0;
    list-style: none;
}
.nav__item {
    display: inline-block;
}
.nav__link {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 1rem 1rem;
}

.nav-trigger {
    display: none;
}
.nav-trigger:after {
    /* content: 'X';
    display: block;
    position: fixed;
    z-index: 99; */
}

@media screen and (max-width: 1200px) {
    .nav__link {
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px) {
    .nav {
        position: fixed;
        width: 90%;
        height: 100vh;
        max-width: 400px;
        right: 0;
        overflow: hidden;
    }
    .nav__list {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        background-color: #fff;
        visibility: hidden;
        transform: translateX(0%);

        transition: transform 450ms ease-in-out, visibility 0ms linear 450ms;
    }
    .nav--open .nav__list {
        display: block;
        visibility: visible;
        transform: translateX(-100%);

        transition: transform 450ms ease-in-out, visibility 0ms linear 0ms;
    }
    .nav__item {
        display: block;
    }
    
    .nav-trigger {
        display: block;
    }
}


/* Banner */
.banner {
    
}
.banner__slide {
    padding-bottom: 30%;
    background-position: center center;
    background-size: cover;
}
.banner__heading {
    margin-top: 0;
}

/* Modules */
.module {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


.module > .row > * > h1:first-child,
.module > .row > * > h2:first-child,
.module > .row > * > h3:first-child {
    /* 
        This looks fancier than it is. It's just a trick to make the first heading in every module content block
        not having any margin on the top of it. Otherwise, it messes up the spacing.
    */
    margin-top: 0;
}



/* -- Module: Content and Image */

.module-content-and-image {
}
.module-content-and-image__text {
    padding: 2rem;
}
.module-content-and-image__image {
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 991px) {
    .module-content-and-image__image {
        padding-top: 70%;
    }
}

/* -- Module: Quote */

.module-quote {
    background-color: red;
}
.module-quote__text {
    padding: 4rem 2rem;
    color: #fff;
    text-align: center;
}


/* Footer */

