
$color1: #F68B1F;
$color2: #FEE600;
$color3: #1F5D6C;
$color4: #00B0B2;

$color_text_dark: #464646;
$color_text_light: #FFFFFF; 

$padding_content: 2rem;


// Bootstrap grid breakpoints - these are set to the default values, but you can modify these if needed
$grid-breakpoints: (
    xs: 0,
    sm: 600px,
    md: 800px,
    lg: 1000px,
    xl: 1280px
);